
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    color: #36b9cc;
    cursor: pointer;
}

.del {
    color: #E74A3B;
}

.pagination {
    cursor: pointer;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 4px;
}


.input-group {
    justify-content: end;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-top {
   justify-content: end;
    gap: 8px;
    
}