{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes/cadastro_clientes.css'%}">

<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Cadastro de novo cliente
            </h4>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-11 formulario">
                        <span>NOME: {{ form.nome }}</span>                        
                        <span>CPF:{{ form.cpf }}</span>                        
                    </div>

                    <div class="form-group col-md-11 formulario">
                        <span>E-MAIL:{{ form.email }}</span>
                        <span>TELEFONE:{{ form.telefone }}</span>
                    </div>

                    <div class="form-group col-md-11">
                        <span>ENDEREÇO:{{ form.endereco }}</span>
                    </div>

                    {{ form_veiculo.management_form }}
                    {% for carro in form_veiculo.forms %}
                    <div class="form-group col-md-11 formulario carro">
                        <span>MARCA:{{ carro }}</span>
                        
                        
                    </div>
                    {% endfor %}
                </div>    
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-danger" href={% url 'clientes' %}>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.carro').formset({
            prefix: '{{ form_veiculo.prefix }}',
            addText: 'Adicionar novo Veículo',
            deleteText: 'Remover este veículo',
        });
    })
</script>
{% endblock scripts %}