{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/clientes/clientes.css'%}">
<link rel="stylesheet" href="{% static 'css/clientes/criar_orcamento.css'%}">

<div class="container-fluid">
  
    <div class="d-sm-flex align-items-center mb-4 card-top">
      
      <a href="{% url 'cadastro_clientes' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        ><i class="fas fa-user-plus fa-sm text-white-50"></i> Cadastrar Cliente</a>
        <a href="{% url 'novo_orcamento' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
          <i class="fas fa-file-alt fa-sm text-white-50"></i> Novo Orçamento
      </a>
    </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Clientes cadastrados (Qtd: <span id="qtdClientes"></span>)</h6>
      <a href="{% url 'exportar_clientes' %}">
          <i class="fa fa-solid fa-file-excel"></i>
      </a>
    </div>
    
    <div class="card-body">
      <div class="table-responsive">
        <div class="input-group">
          <div class="form-outline">
            <label class="form-label" for="form1">Busca: <input type="search" id="searchInput" class="form-control" /></label>
            
          </div>          
        </div>
        <table
          class="table table-bordered"
          id="clientesTable"
          width="100%"
          cellspacing="0"
        >
        {% for cliente in clientes_com_carro %}
          <h1>{{ cliente.nome }}</h1>
        {% endfor %}
          <thead>
            <tr>
              <th>NOME</th>              
              <th>TELEFONE</th>
              <th>E-MAIL</th>
              <th>CARRO(S)</th>
              <th>AÇÕES</th>
            </tr>
          </thead>
          <tbody>
            {% for item in page_obj %}
            <tr>
                <td>{{ item.cliente.nome }}</td>                
                <td>{{ item.cliente.telefone }}</td>
                <td>{{ item.cliente.email }}</td>
                <td>
                    {% if item.veiculos %}
                        {% for veiculo in item.veiculos %}
                            {{ veiculo.modelo }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        Sem carros
                    {% endif %}
                </td>
              <td>
                <div class="icons">
                  <a class="cliente-detalhe" href="#" data-toggle="modal" data-target="#clienteModal{{ cliente.id }}">
                      <i class="fas fa-eye ml-2" title="Ver detalhes"></i>
                  </a>
                   <a class="cliente-editar ml-2" href="{% url 'clientes' cliente_id=item.cliente.id %}">
                      <i class="fas fa-edit edit" title="Editar"></i>
                  </a> 
                  <a class="cliente-excluir ml-2" href="#" data-toggle="modal" data-target="#confirmarExclusao{{ item.cliente.id }}">
                    <i class="fas fa-trash del" title="Excluir"></i>
                  </a>
              </div>
            </td>
            </tr>
            <div class="modal fade" id="clienteModal{{ cliente.id }}" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="clienteModalLabel">Detalhes do Cliente</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p><strong>Nome:</strong> {{cliente.nome }}</p>
                          <p><strong>CPF:</strong> {{cliente.cpf }}</p>
                          <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
                          <p><strong>Email:</strong> {{ cliente.email }}</p>
                          <p><strong>Endereço:</strong> {{ cliente.endereco }}</p>
          
                         
                          <p>Veículos:</p>
                          <ul>
                              
                              <li>Modelo: {{ cliente.veiculo__modelo }},
                                 Placa: {{ cliente.veiculo__placa }},
                                Ano: {{ cliente.veiculo__marca }}</li>
                              
                          </ul>
                          
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Modal de Confirmação de Exclusão -->
          <div class="modal fade" id="confirmarExclusao{{ item.cliente.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmarExclusaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmarExclusaoLabel">Confirmar Exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja excluir o cliente "{{ item.cliente.nome }}"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="{% url 'excluir_cliente' cliente_id=item.cliente.id %}">Excluir</a>
                    </div> 
                </div>
            </div>
        </div>
          <!-- Fim do Modal -->          
            {% endfor %}
          </tbody>
        </table>
        <nav aria-label="...">
          <ul class="pagination">
              {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1" tabindex="-1">&laquo; Primeira</a>
                  </li>
              {% endif %}
              
              {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                  </li>
              {% endif %}
              
              {% for i in page_obj.paginator.page_range %}
                  {% if i == page_obj.number %}
                      <li class="page-item active">
                          <a class="page-link" href="#">{{ i }} <span class="sr-only">(atual)</span></a>
                      </li>
                  {% else %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
              
              {% if page_obj.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
                  </li>
              {% endif %}
              
              {% if page_obj.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                  </li>
              {% endif %}
          </ul>
      </nav>

      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/clientes/clientes.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
