{% extends 'base.html' %}
{% load static %}  <!-- Ou o seu template base -->
{% block content %}

<link rel="stylesheet" href="{% static 'css/clientes/cadastro_clientes.css'%}">
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h4 class="mb-3 text-primary">Editar Cliente</h4>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-11 formulario">
                        <span>NOME: {{ form.nome }}</span>                        
                        <span>CPF:{{ form.cpf }}</span>
                    </div>

                    <div class="form-group col-md-11 formulario">
                        <span>E-MAIL:{{ form.email }}</span>
                        <span>TELEFONE:{{ form.telefone }}</span>
                    </div>

                    <div class="form-group col-md-11">
                        <span>ENDEREÇO:{{ form.endereco }}</span>
                    </div>

                    <div class="form-group col-md-11 formulario">                        
                        {{formset.management_form}}
                        {% for form in formset%}                        
                            <span>{{ form.as_table }}</span>                            
                        {% endfor %}                              
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}