{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/clientes/clientes.css'%}">
<link rel="stylesheet" href="{% static 'css/clientes/os_aberta.css'%}">


<div class="container-fluid">
  <div class="messages">
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">OS em aberto (Qtd:  <span id="qtdOrdem"></span>)</h6></h6>
      <a href="{% url 'exportar_clientes' %}">
          <i class="fa fa-solid fa-file-excel"></i>
        </a>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <div class="input-group">             
                <div class="form-outline">
                    <label class="form-label" for="form1">Busca: <input type="search" id="searchInput" class="form-control" /></label>
                </div>          
        </div>
        <table
          class="table table-bordered"
          id="clientesTable"
          width="100%"
          cellspacing="0"
        >
        <thead>
          <tr>
              <th>Nº</th>
              <th>NOME</th>              
              <th>TELEFONE</th>
              <th>E-MAIL</th>
              <th>CARRO</th>
              <th>PLACA</th>
              <th>SERVIÇO</th>
              <th>VALOR ESTIMADO</th>
              <th>DATA DE ABERTURA</th>
              <th>AÇÕES</th>
          </tr>
      </thead>
      <tbody id="tabela-orcamentos">
          {% for ordem in result_query %}
              <tr>
                  <td>{{ ordem.numero_ordem }}</td>
                  <td>{{ ordem.cliente__nome }}</td>                  
                  <td>{{ ordem.cliente__telefone }}</td>
                  <td>{{ ordem.cliente__email }}</td>
                  <td>{{ ordem.cliente__veiculo__modelo }}</td>
                  <td>{{ ordem.cliente__veiculo__placa }}</td>
                  <td>{{ ordem.servico }}</td>
                  <td>R${{ ordem.valor_estimado }}</td>
                  <td>{{ ordem.data_ordem }}</td>                  
                
                  <td>
                    <button class="btn btn-success btn-sm btn-aprovar" data-toggle="modal" data-target="#confirmModal" data-orcamento-id="{{ ordem.numero_ordem }}">
                      <i class="fas fa-check"></i> Finalizar OS
                  </button>
                  
                </td>
                
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="confirmModalLabel">Confirmar Geração de OS</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              Tem certeza de que deseja gerar a Ordem de Serviço para o cliente <span id="clienteNome"></span>?
                          </div>
                          <form method="post" action="{% url 'concluir_ordem_servico' ordem.numero_ordem %}">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-success">Concluir</button>
                          </form>
                      </div>
                  </div>
              </div>
              
              </div>
              </div>
              </td>
              </tr>
          {% endfor %}
      </tbody>
        </table>
        <div id="pagination" class="pagination" style="justify-content: space-between">
          <span id="prevPage">&laquo; Anterior</span>
          <span id="nextPage">Próximo &raquo;</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/clientes/os_aberta.js' %}"></script>
{% endblock %}
