{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/clientes/clientes.css'%}">
<link rel="stylesheet" href="{% static 'css/clientes/os_aberta.css'%}">


<div class="container-fluid">
  <div class="messages">
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">OS em aberto (Qtd:  <span id="qtdOrdem">{{ num_ordens_concluidas }}</span>)</h6></h6>
      <a href="{% url 'exportar_clientes' %}">
          <i class="fa fa-solid fa-file-excel"></i>
        </a>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <div class="input-group">             
                <div class="form-outline">
                    <label class="form-label" for="form1">Busca: <input type="search" id="searchInput" class="form-control" /></label>
                </div>          
        </div>
        <table
          class="table table-bordered"
          id="clientesTable"
          width="100%"
          cellspacing="0"
        >
        <thead>
          <tr>
              <th>Nº</th>
              <th>NOME</th>              
              <th>TELEFONE</th>
              <th>E-MAIL</th>
              <th>CARRO</th>
              <th>PLACA</th>
              <th>SERVIÇO</th>
              <th>VALOR ESTIMADO</th>
              <th>DATA DA ORDEM</th>
              <th>AÇÕES</th>
          </tr>
      </thead>
      <tbody id="tabela-orcamentos">
        {% for ordem in result_query_fechada %}
        <tr>
            <td>{{ ordem.numero_ordem }}</td>
            <td>{{ ordem.cliente__nome }}</td>
            <td>{{ ordem.cliente__telefone }}</td>
            <td>{{ ordem.cliente__email }}</td>
            <td>{{ ordem.veiculo__modelo }}</td>
            <td>{{ ordem.veiculo__placa }}</td>
            <td>{{ ordem.servico }}</td>
            <td>R${{ ordem.valor_total }}</td>
            <td>{{ ordem.data_conclusao_ordem }}</td>
            <td>
              <!-- Ícone para gerar PDF -->
              <a href="{% url 'gerar_pdf_ordem' ordem.numero_ordem %}" target="_blank">
                  <i class="fas fa-file-pdf"></i>
              </a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
        </table>
        <div id="pagination" class="pagination" style="justify-content: space-between">
          <span id="prevPage">&laquo; Anterior</span>
          <span id="nextPage">Próximo &raquo;</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="{% static 'js/clientes/os_concluidas.js' %}"></script>
{% endblock %}
